<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WTF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>688CCDF61EB0EB17008FD711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688CCE0A1EB0EB17008FD711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688CCE151EB0EB17008FD711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
